---
import Layout from './Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="page-wrap">
    <Navbar />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </div>
</Layout>

<style is:global>
  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .page-wrap > main {
    flex: 1 1 auto;
  }
</style>
