---
import Layout from './Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Navbar />
  <main transition:animate="slide">
    <slot />
  </main>
  <Footer />
</Layout>
